<div class="container-fluid bg-style">
  <div class="row bg-style">
    <div class="col-md-12 bg-style">
      <h3 id="title">Random Philosopher</h3>
      {{random-thoughts}}
    </div>
  </div>
</div>
